<div class="row">
  <div class="col-md-12" *ngIf="isTextBox">
    <input type="text" class="txt-value" [attr.disabled]="isDisabled">
  </div>
  <div class="col-md-12" *ngIf="isSingleSelect">
    <div class="singleselect-container">
        <p-dropdown 
        appendTo="body"
        [options]="dropDownData" 
        [(ngModel)]="selectedItem"
        [filter]="filter"
        [disabled]="isDisabled"
        [resetFilterOnHide]="true"
        [placeholder]="placeholderText"
        (onChange)="onItemChange($event)">
      </p-dropdown>
    </div>
  </div>
  <div class="col-md-12" *ngIf="isMultiSelect">
      <div class="multiselect-container">
          <p-multiSelect
          appendTo="body"
          [options]="dropDownData"
          [maxSelectedLabels]="maxLabels"
          [(ngModel)]="selectedItems"
          [disabled]="isDisabled"
          [resetFilterOnHide]="true"
          [defaultLabel]="placeholderText"
          (onChange)="onItemChange($event)">
           <ng-template let-data let-i="index" pTemplate="item">
                <div style="margin-top: -16px;padding-left: 20px;">{{data.label}}</div>
            </ng-template>
        </p-multiSelect>
      </div>
  </div>
</div>
